<app-header [isWalletUnlocked]="isWalletUnlocked()" (onLogout)="onLogout()"></app-header>
<br><br>
<br><br>
<br><br>
<div *ngIf='_wallet === null' class="content">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Mnemonic Seed</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="message-margin">Enter the 24-word wallet mnemonic seed phrase to unlock the wallet.</p>
      <form>
        <mat-form-field class="full-width">
          <mat-label>24-word wallet mnemonic</mat-label>
          <br>
          <textarea #seed matInput rows="1" style="height: 50px;" autosize></textarea>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="button-right" color="primary" class="button-margin" (click)="unlock(seed.value)">Unlock</button>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf='_wallet !== null' class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="'100%'" fxFlex.xs="100%" fxFlex.sm="100%">
      <balance  [currentBalance]="_currentBalance" (onRefresh)="onWallteRefresh()"></balance>
    </div>
    <div [fxFlex]="'100%'" fxFlex.xs="100%" fxFlex.sm="100%">
      <send></send>
    </div>
    <div [fxFlex]="'100%'" fxFlex.xs="100%" fxFlex.sm="100%">
      <transactions  [transactions]="getTransaction()"></transactions>
    </div>
    <div [fxFlex]="'100%'" fxFlex.xs="100%" fxFlex.sm="100%">
        <receive  [address]="getAddress()"></receive>
    </div>
  </div>
</div>
<br>
<br>
<br>

