<app-header></app-header>
<br><br>
<br><br>
<br><br>
<div class="content">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Mnemonic Seed</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="message-margin">Enter the 24-word wallet mnemonic seed phrase to unlock the wallet.</p>
      <form>
        <mat-form-field class="full-width">
          <input matInput placeholder="24-word wallet mnemonic" value="">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <span class="spacer"></span>
      <button mat-raised-button class="button-right" color="primary" class="button-margin">Unlock</button>
    </mat-card-actions>
  </mat-card>
</div>


