<h1 mat-dialog-title>Create a New Wallet</h1>
<div mat-dialog-content>
  <p>The new wallet is created together with a mnemonic phrase. Write the mnemonic phrase down, you will need it to access your wallet. <b>Don’t copy it to your clipboard or save it anywhere online.</b></p>
  <br>
  <div style="border: 2px solid red;border-radius: 5px;padding: 10px;">{{seeds}}</div>
  <br>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="button-right" color="primary" (click)="onCloseClick()">Close</button>
</div>